*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    width: 100vw;
    margin: 1rem 3rem;
}

.nombre {
    font-size: 250%;
}

nav {
    position: relative;
    width: 90vw;
    height: auto;
    display: inline;
    top: 2rem;

}

nav > a {
    position: relative;
    display: inline-block;
    width: auto;
    height: 100%;
    left: 70%;
    margin: .5rem;
    padding: .5rem;
    color: white;
    background-color: blue;
    text-align: center;
    text-decoration: none;
    border-width: 1px;
    border-color: black;
    border-style: solid;

}

a[href="#"] {
    background-color: greenyellow;
}


.boxpagename {
    text-align: center;
    color:white;
    background-color: black; 
    padding: 1px;
    width: 100%;
    font-size: 1.2rem;
    top: 0;
    margin-left: -1rem;
}

img {
    width: 100%;
    height: 50vh;
    margin-left: -1rem;
    top: -1rem;
    object-fit: cover;

}

#logo{
    position: absolute;
    width: 100%;
    height: 200px;
    object-fit: contain;
    margin-top: 1rem;
    top: 80%;
    display: block;
    width: 15%;
    background-color: white;
}


.texto {  
    margin: auto;
    margin-left: 20%;
    height: -1rem;
    width: 50vw;
    padding: 10px;
    padding-bottom: 5rem ;
    text-align: justify;

}

h3 {
    margin-top: 2rem;
}
p {
    margin-top: 2rem;
}